.add-product-modal {
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-20px); /* Bắt đầu modal ở vị trí cao hơn */
  opacity: 0; /* Bắt đầu với độ mờ */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
}

.add-product-modal.open {
  transform: translateY(0); /* Di chuyển về vị trí gốc khi mở */
  opacity: 1; /* Đặt độ mờ thành 1 khi mở */
}

.submit-button {
  width: 100%;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* modalStyles.css */



@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.ant-modal {
  animation: slideIn 0.4s ease forwards;
}

.ant-modal-close {
  transition: opacity 0.2s ease;
}

.ant-modal-close:hover {
  opacity: 0.8;
}

.ant-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.ant-modal-title {
  font-size: 1.6em;
  font-weight: 600;
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  transition: background-color 0.3s, transform 0.2s;
}

.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
  transform: translateY(-2px);
}
